APP_NAME=Heroes
APP_ENV=local
APP_KEY=base64:CJxnrZ/kFgFvcBb9c1QA7JYHp2eP/DlZ0Ff0p8A1i3Y=
APP_DEBUG=true
APP_URL=http://localhost:3000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3307
DB_DATABASE=heroes
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=array
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

GOOGLE_MAP_API_ENDPOINT=https://maps.googleapis.com/maps/api
GOOGLE_MAP_API_KEY=
GOOGLE_MAP_API_OUTPUT=json
GOOGLE_MAP_API_LANGUAGE=fr
GOOGLE_MAP_API_INPUT_TYPE=textquery
GOOGLE_MAP_API_FIELDS=formatted_address,place_id,geometry

GOOGLE_MAP_API_CALLBACK=emitGoogleMapLoaded
MIX_GOOGLE_MAP_API_JS_URI="${GOOGLE_MAP_API_ENDPOINT}/js?key=${GOOGLE_MAP_API_KEY}&callback=${GOOGLE_MAP_API_CALLBACK}&libraries=places"

GOOGLE_CLIENT_ID=
MIX_GOOGLE_CLIENT_ID="{GOOGLE_CLIENT_ID}"
GOOGLE_CLIENT_SECRET=

# SMSBOX
SMSBOX_APP_URI=https://api.smsbox.pro/1.1/api.php
SMSBOX_HLR_URI=https://api.smsbox.net/hlr/json/send
SMSBOX_HLR_API_KEY=

# ULTRA MSG
ULTRAMSG_APP_URI=https://api.ultramsg.com/
ULTRAMSG_INSTANCE=
ULTRAMSG_TOKEN=

# OPTIMUM AUTOMOTIVE
OPTIMUM_AUTOMOTIVE_USER=
OPTIMUM_AUTOMOTIVE_PASSWORD=

# DOCUSIGN
DOCUSIGN_BASE_URL=https://demo.docusign.net
DOCUSIGN_AUTH_BASE_URL=https://account-d.docusign.com
DOCUSIGN_ADMIN_BASE_URL=https://admindemo.docusign.com

# MINDEE
MINDEE_API_URI=https://api.mindee.net/v1/products/
MINDEE_API_ACCOUNT=
MINDEE_API_VERSION=1.6
MINDEE_API_ENDPOINT=carte_de_visite
MINDEE_API_KEY=

# MAXMIND
MAXMIND_ACCOUNT_ID=
MAXMIND_LICENSE_KEY=