/.phpunit.cache
/database/maxmind
/node_modules
/public/build
/public/hot
/public/js/*.js.LICENSE.txt
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
certbot
var_log_letsencrypt/
heroes/
supervisord.log
supervisord.pid
supervisord.log.*
nginx/certbot
mysql-data/
backup/
