.icon-white {
    color: $color-white !important;
}

.icon-black {
    color: $color-black !important;
}

.icon-grey {
    color: $color-grey !important;
}

.icon-cyan {
    color: $color-cyan !important;
}

.icon-garnet {
    color: $color-garnet !important;
}

.icon-blue {
    color: $color-blue !important;
}

.icon-purple {
    color: $color-purple !important;
}

.icon-green {
    color: $color-green !important;
}

.icon-orange {
    color: $color-orange !important;
}

.icon-red {
    color: $color-red !important;
}

.icon-brown {
    color: $color-brown !important;
}

.icon-white-hover:hover {
    color: $color-white !important;
}

.icon-black-hover:hover {
    color: $color-black !important;
}

.icon-grey-hover:hover {
    color: $color-grey !important;
}

.icon-cyan-hover:hover {
    color: $color-cyan !important;
}

.icon-garnet-hover:hover {
    color: $color-garnet !important;
}

.icon-blue-hover:hover {
    color: $color-blue !important;
}

.icon-purple-hover:hover {
    color: $color-purple !important;
}

.icon-green-hover:hover {
    color: $color-green !important;
}

.icon-orange-hover:hover {
    color: $color-orange !important;
}

.icon-red-hover:hover {
    color: $color-red !important;
}

.icon-brown-hover:hover {
    color: $color-brown !important;
}
