// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$color-black: #000000;
$color-white: #ffffff;
$color-cyan: #329bd7;
$color-garnet: #da3c58;
$color-blue: #1e6ee5;
$color-purple: #9e3cda;
$color-green: #489f1f;
$color-orange: #e5961e;
$color-red: #ed5e3e;
$color-grey: #aaaaaa;
$color-brown: #9b6138;
